@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(185, 223, 255);
    font-family: "Montserrat", sans-serif;
    
}

.title{
    text-align: center;
    align-content: center;
    margin: 60px;
    display: flex;
}

.title img{
    width: 100px;
    height: 100%;
}

.title h2{
    font-size: 40px;
    margin-block-start: 30px;
    margin-inline-start: 50px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
select {
    width: 300px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    border-radius: 100px;
}

input[type="submit"]{
    background-color: yellow;
    border: none;
    width: 300px;
    border-radius: 100px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

input[type="submit"]:hover{
    cursor: pointer;
}


form{
    display: flex;
    justify-content: space-around;
}

table{
    justify-content: space-around;
    display: flex;
    margin-top: 50px;
    font-size: 16px;

}

tbody{
    width: 80%;
}

tr{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    
    
}

th{
    font-size: 24px;
    
}

th, td{
    width: 15%;
    text-align: center;
   
}

td{
    padding-bottom: 6px;
    border-bottom: 1px solid grey;
}

.btnEditar{
    height: 30px!important;
    width: 30px!important;
    background-color: #f5ac00;
}

.btnExcluir{
    height: 30px!important;
    width: 30px!important;
    background-color: #8b0000;
    color: #f9f9f9;
}

.btnEditar,
.btnExcluir {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}